OPENAI_ORG_ID=
OPENAI_API_KEY=sk-
OPENAI_GPT3_API_KEY=sk-
OPENAI_GPT4_API_KEY=sk-

APP_ENV=development
DEBUG=True
APP_ENABLED=False


# Firebase Service Account Credentials
TYPE="service_account"
PROJECT_ID=""
PRIVATE_KEY_ID=""
PRIVATE_KEY="-----BEGIN PRIVATE KEY-----"
CLIENT_EMAIL=""
CLIENT_ID=""
AUTH_URI="https://accounts.google.com/o/oauth2/auth"
TOKEN_URI="https://oauth2.googleapis.com/token"
AUTH_PROVIDER_X509_CERT_URL="https://www.googleapis.com/oauth2/v1/certs"
CLIENT_X509_CERT_URL=""
UNIVERSE_DOMAIN="googleapis.com"